<div class="search-form">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input">Keyword</label>
            <input type="text" class="form-control" name="key" id="search-input" placeholder="Type your search">
            {{!-- <input type="text" name="name">Name
            <input type="number" name="age">Age --}}
        </div>
</div>
<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>